<div class="container">
<h1>Ask the Boss</h1>


<!-- <form action="/answer" class="justify-content-center" method="post">
  <div class="form-group">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="test" class="form-control" name="question" placeholder="Type a question">
  </div>
  <input type="submit" class="btn btn-primary" />
</form> -->
</div>
